/* general styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #f1f1f1;
}
/* variables */
:root{
    --primary-color: #007bff;
    --secondary-color: #1d2023;
}
.shadow{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.section-title{
    color: var(--primary-color);
    font-size:2.2rem;
    text-transform: uppercase;
    margin-bottom: 2rem;
    text-align: center;
}
.container{
    width: 90%;
    margin: auto;
}

/* portfolio */
.portfolio-tabs{
    display: flex;
    gap: 0.3rem;
    align-items: center;
    justify-content: center;
}
.portfolio-tabs button{
  background-color: #fff;
  border: none;
  padding: 1rem;
  font-size: 1.1rem;
}
.portfolio-tabs button.active{
    color: #fff;
    background-color: var(--primary-color);
}
.portfolio-gallery{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 65px;
}
.portfolio-gallery-items{
    display: flex;
    justify-content: space-between;   
}
.portfolio-gallery-items .portfolio-item{
    width: calc(32%);
}
.portfolio-gallery-items .portfolio-item img{
    width: 100%;
    height: 100%;
}

/* Testimonials */
.testimonials-section{
    margin-top: 2.5rem;
}
.testimonials-cards{
    display: flex;
    justify-content: space-between;
}
.testimonials-card{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.1rem;
    padding: 1rem 0;
    width: calc(32%);
}
.testimonials-card img{
    width: 100px;
    height: 100px;
}
.testimonials-card .desc{
    background-color: var(--primary-color);
    padding: 1rem;
    color: #fff;
}

